<script>
  import axios from 'axios';
  export default {
    name: 'foodItem',
    data() {
      return {
        nutritionFacts: {},
        suggestedItems: {},
        foodItem: '',
        apiKey: 'd7a32f03a3d789db7f7eac033a9444bc',
        appId: '63bbfa85',
      }
    },
    methods: {
      // Auto complete suggestions
      autoComplete(event) {
        let inputValue = event.target.value;
        axios.get('http://api.edamam.com/auto-complete?q='+inputValue+'&limit=10&app_id='+this.appId+'&app_key='+this.apiKey+'', {
        })
        .then(
          response => {
            this.suggestedItems = response.data;
           }
        )
      },

      // Pick from suggested
      suggestionPick(event) {
        this.foodItem = event.target.nextSibling.title;
        document.getElementById('foodInput').value = this.foodItem;
        this.submitSearch();
        this.suggestedItems = '';
      },

      // Submit the search
      submitSearch() {
        axios.get('https://api.edamam.com/api/food-database/parser?ingr='+this.foodItem+'&app_id='+this.appId+'&app_key='+this.apiKey+'',)
        .then(
          response => {
            this.nutritionFacts = response.data.parsed[0];
          }
        )
      }
    }
  }
</script>
<template>
  <div class="food-check">
    <div class="label">What you're looking for:</div>
    <div class="food-search">
      <input  id="foodInput" type="text" @input="event => autoComplete(event)">
      <div class="suggestion">
        <div v-for="data in suggestedItems" @click="event => suggestionPick(event)">
          <p >
            {{data}}
          </p>
          <input type="hidden" style="display: none" v-bind:title="data">
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .label {
    margin-bottom: 10px;
  }
  .suggestion {
    position: absolute;
  }
</style>