<template>
  <div id="app">
    <h1>Nutrition App</h1>
    <FoodCheck></FoodCheck>
  </div>
</template>

<script>
  import FoodCheck from '@/components/FoodCheck'
  export default {
    name: 'app',
    components: {
      FoodCheck,
    }
  }
</script>

<style>

</style>
